<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>194183746818-fmrfjodlccgrej44phqdetrvqik7lj0d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.194183746818-fmrfjodlccgrej44phqdetrvqik7lj0d</string>
	<key>API_KEY</key>
	<string>AIzaSyC0DDQSsYUPt4r2uhUiyRcDAhUp3IKejN8</string>
	<key>GCM_SENDER_ID</key>
	<string>194183746818</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dotcoder.ems</string>
	<key>PROJECT_ID</key>
	<string>ems-app-9caed</string>
	<key>STORAGE_BUCKET</key>
	<string>ems-app-9caed.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:194183746818:ios:8b062a15c5b1741a261e1b</string>
</dict>
</plist>